#BottomMenu{
    display: grid;
    margin : 0 auto auto auto;
    padding:15px 10px;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    border-top: 1px solid #CCC;
    font-size: 1em;
    
}

.All,.Active,.Completed,.counter{
    cursor: pointer;
    margin-right: auto;
    padding: 10px 5px;
}

.clearCompleted{
    cursor: pointer;
    margin-left: auto;
    padding: 10px 5px;
}

.currentCounter{
    border: 2px #CCC solid;
    border-radius: 5px;
}