.todo{
    display: grid;
    margin : 0 auto;
    padding-top:20px;
    padding-bottom:20px;
    grid-template-columns: 1fr 10fr 1fr 1fr;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

.todo:hover{
    background-color: #dce3e9;
}

.selected{
    background-color: #dce3e9;
}

.edit,.delete{
    cursor: pointer;
}

.label{
    margin-right: auto;
}

.check input {
    transform: scale(2);
}
