#todoInput{
    display: flex;
    margin-top:auto
}
#todoInput .todoLabel{
    height: 100%;
    width: 80%;
    font-size: 3em;
    align-self: flex-start;
}

#todoInput .todoButton{
    height: 100%;
    font-size: 3em;
    width: 20%;
    align-self: flex-end;
    background-color: #0763b3;
    color: white;
}

.error{
    border: 1px solid red;
}